.btnNavbar {
	position: relative;

	&::before {
		content: "";
		width: 0;
		height: 2px;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: var(--black);
		transition: width 0.5s ease;
	}

	&:hover,
	&.active {
		&::before {
			width: 100%;
		}
	}
}
