:root {
	--background: #071221;
	--primary: #ffcd66;
	--secondary: #f58b51;
	--white: #ffffff;
	--black: #000000;

	--mobile: 768px;
	--tablet: 1024px;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--background);
}

h1,
.title-h1 {
	font-family: "Lato";
	font-size: 56px;
	line-height: 64px;

	@media (max-width: 1024px) {
		font-size: 32px;
		line-height: 36px;
	}
}

h2,
.title-h2 {
	font-family: "Lato";
	font-size: 48px;
	line-height: 56px;

	@media (max-width: 1024px) {
		font-size: 28px;
		line-height: 36px;
	}
}

h3,
.title-h3 {
	font-family: "Lato";
	font-size: 40px;
	line-height: 48px;

	@media (max-width: 1024px) {
		font-size: 24px;
		line-height: 30px;
	}
}

h4,
.title-h4 {
	font-family: "Lato";
	font-size: 32px;
	line-height: 40px;

	@media (max-width: 1024px) {
		font-size: 20px;
		line-height: 26px;
	}
}

h5,
.title-h5 {
	font-family: "Lato";
	font-size: 24px;
	line-height: 32px;

	@media (max-width: 1024px) {
		font-size: 18px;
		line-height: 26px;
	}
}

h6,
.title-h6 {
	font-family: "Lato";
	font-size: 20px;
	line-height: 26px;

	@media (max-width: 1024px) {
		font-size: 16px;
		line-height: 24px;
	}
}

.subtitle {
	font-family: "Montserrat";
	font-size: 18px;
	line-height: 26px;

	@media (max-width: 1024px) {
		font-size: 16px;
		line-height: 28px;
	}
}

.body-large {
	font-family: "Montserrat";
	font-size: 20px;
	line-height: 32px;

	@media (max-width: 1024px) {
		font-size: 16px;
		line-height: 28px;
	}
}

.body-regular {
	font-family: "Montserrat";
	font-size: 16px;
	line-height: 28px;

	@media (max-width: 1024px) {
		font-size: 14px;
		line-height: 24px;
	}
}

.body-small {
	font-family: "Montserrat";
	font-size: 14px;
	line-height: 20px;

	@media (max-width: 1024px) {
		font-size: 12px;
		line-height: 20px;
	}
}

.cl-white {
	color: var(--white);
}

.cl-black {
	color: var(--black);
}

.cl-primary {
	color: var(--primary);
}

.cl-secondary {
	color: var(--secondary);
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--white);
}

::-webkit-scrollbar-track {
	background-color: transparent;
}
